.DS_Store

*.class

ai_programs/attack/*
!ai_programs/attack/.gitkeep
ai_programs/defence/*
!ai_programs/defence/.gitkeep
ai_programs/other/*
!ai_programs/other/.gitkeep

resource/command_list/attack/*
!resource/command_list/attack/.gitkeep
resource/command_list/defence/*
!resource/command_list/defence/.gitkeep
resource/log/auto_compile/*
!resource/log/auto_compile/.gitkeep
resource/log/test_run_err/*
!resource/log/test_run_err/.gitkeep
resource/result/*
!resource/result/.gitkeep